1) Реализация Webpack (imports/exports)
	Babel переводит новые версии в более старые
		-указываем входную точку
	Scss
	Eslint следит за чистотой
	2 Modes
		- Dev
			Dev Server(пересборка и сразу обновление)
			SourceMaps(где написали код или допустили ошибку)
			Eslint(Для поддержки чистоты кода и поддержания кода в едином стиле)
			Not Minified JS & SS
		- Prod(продакш, минимификайия всего)
			Minified Code

2)система контроля версий Git
Чем сложнее код, тем важнее, для отката до стабильной версии
GitFlow

	Production
		1.0.0
	Development
		1(кардинальные изменения).0(значимые изменения).2(мелкие изменения)

git-scm.com/book/ru/v2/введение-установка-Git
	-Сперва нужно убедиться, что гит установлен git --version
	-создаём репозиторий на гитхабе
	-в gitignore добавляем файлы, которые не хотим складывать в гит
	-git checkout -b "webpack"